$light: rgb(242, 230, 194)

.details-container
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 50px
    margin: 50px 20px
    .details-text
        grid-column-start: 1
        grid-column-end: 3
        background-image: url('../../../assets/bg.svg')
        background-color: $light
        padding: 50px 100px
        .inner
          background-color: $light
          width: 50%
          height: 100%
          padding: 50px
        p
          max-width: 60%
    .img-grid
        padding: 20px 0
        grid-column-start: 1
        grid-column-end: 3
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 50px
        .details-images
            width: 100%
            height: auto
            min-height: 200px
            transition: all 0.3s ease-in-out
        .details-images:hover
            transform: scale(1.1)





@media only screen and (max-width: 992px)
    .details-container
      margin: 0
      .details-text
        padding-right: 0px
        padding-left: 0px
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        p
          max-width: 80%
        .inner
          width: 90%
      .img-grid
        grid-template-columns: 1fr
