<div class="about-container">
    <div class="about-text">
        <h2>Hey! I'm Heidi.</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat. 
        </p>
        <button>Download Resume</button>
    </div>
    <div class="about-pic">
        <img src="../../../assets/my-pic.jpg"/>
    </div>
</div>