$highlight: rgb(93, 89, 112)
$light: rgb(242, 230, 194)
$text: #333
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap')
.about-container
    min-height: 300px
    display: flex
    justify-content: space-around
    padding: 100px 100px
    flex-wrap: wrap
    
    .about-text
        width:50%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        h1
            color: $text
            font-family: 'Reenie Beanie', cursive
            letter-spacing: 5px
        p  
            width: 70%
            color: $text
    .about-pic
        padding: 40px
        width: 30%
        display: flex
        justify-content: flex-end
        img
            width: 300px
            height: 300px
            box-shadow: 20px 20px 0px $highlight

        