<div class="about-container">
    <div class="about-text">
        <h1>Hey! I'm Heidi.</h1>
        <p>
            I'm an aspiring Software Developer. I'm currently studying Communications at Alexandria University. I love tech and I enjoy building awesome things!
        </p>
        <a href="https://drive.google.com/open?id=1CiVZcWatkJerOKzzSFT5W2yoEhEXWx2P" target="_blank">
            <button class="mainBtn">Download Resume</button>
        </a>
    </div>
    <div class="about-pic">
        <img src="../../../assets/my-pic.jpg"/>
    </div>
</div>
